body {
    margin: 0;
    background: #b8d1c2;
    font-family:sans-serif
    font-weight: 400;
}

/* Navbar Styling  start */

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    background: #dce8e4;

}

.logo {
    float: left;
    height: 65px;
    width: auto;
}

.nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: azure;
}

/* Navbar Styling  end */